@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');


.nav-sm-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:black;  
  transition: .5s ease;
  flex-direction: column;
  z-index: 15;
}
.nav-sm-close{
    font-size: 27px;
    color: goldenrod;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right:20px;
}
.nav-sm-close:hover {
    transform: rotate(36deg);
}
@media screen and (max-width:2000px){
.nav-img img {
    width: 100px;
}

}
@media screen and (max-width:650px){
    .nav {
        padding: 1rem;
    }
    .login{
        display: none;
    }
    .nav-img img {
        width: 110px;
    }
    }
@media screen and (max-width:1150px){
    .app-nav-links {
        display: none;
    }
    .app-nav-sm-links{
        display: flex;
    }
}


@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animation {
  animation: marquee 20s linear infinite; /* Adjust animation duration as needed */
}

.shadow {
  box-shadow: 13px 14px 12px 1px rgba(242,220,197,0.74);
-webkit-box-shadow: 13px 14px 12px 1px rgba(242,220,197,0.74);
-moz-box-shadow: 13px 14px 12px 1px rgba(242,220,197,0.74);
}

.mid {
  position: absolute;
  bottom: 20px;
  left: 200px;
  width: 80%;
}

.glowingButton {
  position : relative;
  box-shadow:  0 0 10px white;
  box-shadow:  0 0 20px rgb(186, 175, 175);

}

.glowingButton:hover {  
  box-shadow:  0 0 10px white;
  box-shadow:  0 0 20px rgb(186, 175, 175);

}

.star-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.star-animation >span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(218, 210, 210, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1),;
  animation: animate 3s linear infinite;
}

.star-animation >span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff,transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70%{
    opacity: 1;

  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;

  }
}

.star-animation >span:nth-child(1){
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}
.star-animation >span:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.star-animation >span:nth-child(3){
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.star-animation >span:nth-child(4){
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1s;
}

.cursor {
  width: 20px;
  height: 20px;
  background: #fff;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}